body {
    background-color: black;
}
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.typeArea {
    width: 380px;
    margin: 0 auto;
}

#loginBox {
    width: 460px;
    height: 550px;
    margin: 40px auto;
    background-color: #fff;
    color: rgb(31, 31, 31);
}

#loginBox > h3 {
    height: 55px;
    padding: 85px 0 0 195px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}

#loginBox > .inputArea > input {
    display: block;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    border: 0;
    background-color: #E8F0FE;
}

#thirdPartyLogin {
    margin-bottom: 10px;
}

.inputArea {
    margin-bottom: 10px;
}

#loginBox > .buttonReady {
    width: 70px;
    height: 70px;
    background-color: #0BC4E2;
    border-radius: 20px;
    border: none;
    margin: 60px 0 0 190px;
    font-size: 28px;
}

#loginBox > .buttonNotReady {
    width: 66px;
    height: 66px;
    background-color: #fff;
    border: 2px solid #ADADAD;
    border-radius: 20px;
    margin: 60px 0 0 190px;
    font-size: 28px;
    color: #ADADAD;

}


#loginBox > div:last-child {
    margin-top: 25px;
}

#loginBox > div:last-child > div {
    width: 142px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
}

  
input[type="checkbox"]:before {
    float: left;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    border-radius: 3px;
    content: "\00a0";
    background: #EAEAEA;
  }
  
#stay > span{
    margin-right: 3px;
  }
  